<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/meubanco</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123@start</property>
		
		<!-- POO DE CONEXÕES JDBC -->
		<property name="connection.pool_size">1</property>
		
		<!-- DIALETO SQL -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect
</property>
		
		<!-- GERENCIAMENTO DA SESSÃO -->
		<property name="current_session_context_class">thread</property>
		
		<!-- DESABILITA A CACHE -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!-- EXIBE OS COMANDOS SQL -->
		<property name="show_sql">true</property>
		
		<!-- CRIA AS TABELAS -->
		<property name="hbm2ddl.auto">update</property>
		
	
	</session-factory>
</hibernate-configuration>
