body {
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(45deg, yellow, #ff6601);

}

.telalogin {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    transform: translate(-100%,0);
    left: 200pxpx;
    right: 100px;
    transform: ();
    bottom: 0;
    padding: 80px;
    border-radius: 15px;
    color: white;
    margin-bottom: 4%;
    margin-top: 2%;
}


a {
    text-decoration: none;
    color: #fff;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.botaoEnviar {
    background-color: black;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-family: Verdana, sans-serif;

}

.botaoVoltar {

    background-color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    margin-top: 1.2vw;

}

.botaoVoltar a {
    color: black;
}

.lgpd {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 10px;
    padding: 14px;
    background: #5180E0;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lgpd button {
    border:0;
    color: black;
    cursor: pointer;
    padding: 10px 30px;
}

